*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}
.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 0;
}
.nav_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.nav_buscar{
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    text-align: center;
}
.nav_items{
    height: 22px;
}
.nav_items svg{
    margin-left: 17px;
} 
.icono{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}
.perfil{
    background: url(iconos/myphoto.jpg);
    background-size: cover;
    width: 22px;
    border-radius: 50%;
}
.principal{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
}
.contenedor{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 60px;
    width: 50%;
}
.columna1{
    display: flex;
    flex-direction: column;
}
.estado{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
    display: flex;
    align-items:center;
    overflow: hidden;
    overflow-x: auto;
}
.estado::-webkit-scrollbar{
    display: none;
}
.estado-card{
    margin-left: 15px;
}
.imagen-perfil{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    overflow: hidden;
    
}
.imagen-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.username{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}
.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.info .user{
    display: flex;
    align-items: center;
}
.info .imagen-perfil{
    height: 40px;
    width: 50px;
    padding: 0;
    background: none;
}
.info .imagen-perfil img{
    border: none;
} 
.imagen-post{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.contenido-post{
    width: 100%;
    padding: 20px;
}
.likes{
    font-weight: bold;
}
.descripcion{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}
.descripcion span{
    font-weight: bold;
    margin-right: 10px;
    
}
.tiempo{
    color: #8e8e8e;
    font-size: 12px;
}
.comentarios-contenido{
    width: 100%;
    height: 50px;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comentarios-caja{
    width: 80%;
    height: 100%;
    border: none;
    font-size: 14px;
}
.comentarios-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    font-size: 16px;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
}
.reacciones{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}
.reacciones .icon.save{
    margin-right: auto;
    padding: 10px;
}
.columna2{
    padding: 20px;
}
.perfil-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.perfil-card .imagen-perfil{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.perfil-card:first-child .imagen-perfil{
    width: 70px;
    height: 70px;
}
.perfil-card .username{
    font-weight: 500px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}
.perfil-card .nombre{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}
.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}
.sugerencia{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 20px 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex-grow: 1;
}
.main-content{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 930px;
    flex-grow: 1;
}
.slide-container{
    height: 620px;
    flex-basis: 450px;
}
.slide-content{
    margin: 100px 0 0 150px;
    position: relative;
}
.slide-container img{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}
.slide-container img.active{
    opacity: 1;
    visibility: visible;
}